<app-toolbar></app-toolbar>

<ion-content mode="md" class="" style="--background: url('https://www.pngmagic.com/product_images/website-background-image-size-psd-vector-photo.jpg')" >
  <ion-card class="mx-auto lg:top-1/3 md:w-1/3 top-1/3 sm:w-full top-auto">
    <ion-card-header class="flex flex-row justify-center">
      <ion-card-title class="text-3xl">Create User</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <form [formGroup]="ionicForm" (ngSubmit)="createUser()" class="" novalidate>

        <ion-item class="">
          <ion-label position="floating">Username</ion-label>
          <ion-icon slot="start" size="large" name="person" slot="start"></ion-icon>
          <ion-input class="" formControlName="username" autocomplete="username" placeholder="Username">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-icon slot="start" size="large" name="mail" slot="start">
          </ion-icon>
          <ion-input formControlName="email" autocomplete="youremail@provider.com" type="email" placeholder="youremail@provider.com">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-icon slot="start" size="large" name="lock-closed" slot="start">
          </ion-icon>
          <ion-input formControlName="password" autocomplete="current-password" type="password" placeholder="Password">
          </ion-input>
        </ion-item>

        <ion-button type="submit" color="primary" expand="block">Register</ion-button>
      </form>

    </ion-card-content>
  </ion-card>

</ion-content>
