<app-toolbar></app-toolbar>

<ion-content mode="md" class="" style="--background: url('../assets/background.jpg')" >

  <ion-card *ngIf="pasteService.pasteDetailsStorage" class="mx-auto lg:w-2/3 md:w-3/3 sm:w-full top-auto">
    <ion-card-header class="flex flex-row justify-center">
      <ion-card-title class="text-3xl">Paste Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>


    <div *ngIf="!isEditingToggled">

      <ion-item>
        <ion-label>Title</ion-label>
        <h2 *ngIf="!isEditingToggled"> 
           {{pasteService.pasteDetailsStorage.title}}
        </h2>
      </ion-item>

      <ion-item *ngIf="pasteService.pasteDetailsStorage.author">
        <ion-label>Author</ion-label>
        {{pasteService.pasteDetailsStorage.author.username}}
      </ion-item>

      <ion-item>
        <ion-icon name="star" (click)="toggleHighlight()" class="hover:text-sky-500"></ion-icon>
        <ion-button *ngIf="!isEditingToggled" slot="end" (click)="toggleEditing()">Edit</ion-button>
        <ion-button *ngIf="isEditingToggled" slot="end" (click)="updatePaste(code)">Save</ion-button>
      </ion-item>

      <ion-text >
        <!-- if this is toggled display code w/ highlight-->
          <pre *ngIf="isHighlightToggled">
            <code [highlight]="code"></code>
          </pre>

        <!-- if not display content without highlight-->
          <p *ngIf="!isHighlightToggled">
            {{pasteService.pasteDetailsStorage.content}}
          <p>
      </ion-text>

    </div>

    <div *ngIf="isEditingToggled" class="">


      <form [formGroup]="ionicForm" (ngSubmit)="editPaste()" class="" novalidate *ngIf="code"  >

          <ion-item>
            <ion-label>Title</ion-label>
            <ion-input *ngIf="paste.title" slot="end" [(ngModel)]="paste.title" formControlName="title" class="bg-orange-100">
            </ion-input>
          </ion-item>

          <ion-item *ngIf="pasteService.pasteDetailsStorage.author">
            <ion-label>Author</ion-label>
            {{pasteService.pasteDetailsStorage.author.username}}
          </ion-item>


          <ion-item>
            <ion-button *ngIf="!isEditingToggled" slot="end" (click)="toggleEditing()">Edit</ion-button>
            <ion-button *ngIf="isEditingToggled" slot="end" (click)="updatePaste(code)">Save</ion-button>
          </ion-item>

        <ion-item class="">
          <ion-textarea auto-grow="true" class="bg-orange-100" [(ngModel)]="code" formControlName="content" placeholder="Code Goes Here...">
          </ion-textarea>
        </ion-item>

          <ion-item class="flex" >
            <ion-label class="">Enable Expiration</ion-label>
            <ion-checkbox formControlName="hasExpiration" [(ngModel)]="paste.hasExpiration"></ion-checkbox>
          </ion-item>


          <ion-item *ngIf="paste.hasExpiration" class="flex">
            <ion-datetime class="flex mx-auto"
                formControlName="expirationDate"
                #popoverDatetime
                [(ngModel)]="paste.expirationDate"
                (ionChange)="paste.expirationDate = popoverDatetime.value"
                >
            </ion-datetime>
        </ion-item>

          <ion-item class="flex">
            <ion-label>Enabled Encryption</ion-label>
            <ion-checkbox formControlName="encrypted" [(ngModel)]="paste.encrypted"></ion-checkbox>
          </ion-item>

          <ion-item *ngIf="paste.encrypted">
            <ion-label class="">Password</ion-label>
            <ion-input type="password" formControlName="password" class="bg-orange-100" slot="end"></ion-input>
          </ion-item>

      </form>

    </div>

    </ion-card-content>
  </ion-card>

</ion-content>

