<app-toolbar></app-toolbar>

<ion-content mode="md" class="" style="--background: url('https://www.pngmagic.com/product_images/website-background-image-size-psd-vector-photo.jpg')" >
  <ion-card class="mx-auto lg:top-1/3 md:w-1/3 top-1/3 sm:w-full top-auto">
    <ion-card-header class="flex flex-row justify-center">
      <ion-card-title class="text-3xl">Paste Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-item (click)="booba()">
        <ion-label>Title</ion-label>
        {{pasteService.pasteDetailsStorage.title}}
      </ion-item>

      <ion-item>
        <ion-label>Author</ion-label>
        {{pasteService.pasteDetailsStorage.author}}
      </ion-item>


    </ion-card-content>
  </ion-card>

</ion-content>

